ul.sortable
  list-style: none
  margin:0
  padding:0
  width: 100%

ul.sortable li
  margin: 0px 5px 5px 5px
  padding: 0px
  background:#eee
  width: 100%
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px

ul.sortable li.ui-state-default
  width: 100%
  height: 64px
  display: block
  backgroundSize: 64px 64px
  backgroundRepeat: no-repeat
  backgroundPosition: left top

.form-control
  &.gallery-image-input-caption
    margin: 20px
    margin-top: 15px
    margin-left: 90px
    max-width: 250px
    display: inline

.ui-state-highlight
  height: 64px
  line-height: 1.2em
