doctype html
html(lang='en')
  head
    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='description', content='')
      meta(name='author', content='')
      
    block appendmeta
    
    block favicon
      link(rel='icon', href='')
    
    block title
      title Clever V1
    
    block css
      link(rel='stylesheet', href='/public/pages-admin/index.css')
      
    block appendcss
    
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Clever V1
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li.active
              a(href='/pages') Pages
            li
              a(href='/articles') Articles
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | #{user.firstname || user.email} #{user.lastname || ''}&nbsp;
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Account
                li
                  a(href='#') Settings
                li.divider(role='separator')
                li
                  a(href='/logout') Logout

    .container
      .pages-template
        block content
  
    block prejs
    
    block js
      script(type='text/javascript', src='/public/pages-admin/index.js')
    
    block appendjs
