extends ./layouts/base

block title
  title Pages :: Clever V1
  
block content
  section#reactPages

// Put here constants, etc etc.. 
block prejs 
  script.
    // window.BASE_URL = 'http://somethingcool.com'
