extends ./layouts/base

block title
  title Pages :: Winemakers CMS
  
block content
  section#reactPages

// Put here constants, etc etc.. 
block prejs 
  script.
    window.BASE_URL = '#{baseUrl}'
    window.STORAGE_PUBLIC_URL = '#{storagePublicUrl}'
    window.SITE_PREVIEW_URL = '#{sitePreviewUrl}'
    window.USER_ROLE = '#{user.role}'
